/RevisaoJava/nbproject/private/
/RevisaoJava/build/
.DS_Store
/CalculadoraIMC/nbproject/private/
/CalculadoraIMC/build/
/Bhaskara/nbproject/private/
/Bhaskara/build/
/Bhaskara/dist/
/Cookies_Sessoes/nbproject/private/
/Cookies_Sessoes/build/
/Bhaskara_Servlet/nbproject/private/
/Bhaskara_Servlet/build/
/Projeto_SisAcademico/SisAcademico/nbproject/private/
